# commentaire en htaccess
# on demarre le moteur php de réécrite d'URL
RewriteEngine on
# on élimine les vrais fichiers et les dossiers de la règle de réecriture
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-de
# On met en place la règle de réecriture
RewriteRule ^(.*)$ index.php?path1=$1 [NC,L,QSA]